@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background:white;
  overflow: hidden;
}
nav{
  background: #1b1b1b;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  line-height: 0px;
  padding-left: 40px;
  margin-top: 10px;
}

nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{

  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 7px #33ffff,
               0 0 14px #66ffff;
           
}

nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 4px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
  z-index: 2;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 200px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: -201px;
}
.show,.icon,input{
  display: none;
}
.activebar{
  border-top: 5px solid cyan;
}


/* now home page customization starts */
.home{
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.home .slide{
  position: absolute;
  left: 0;
  
  width: 100%;
  height: 100vh;
 background-size: 100% 94vh;
 background-repeat: no-repeat;
 z-index: 1;
 display: none;
 padding: 0 15px;
 animation: slide 2s ease;



}
.home .slide.active{
  display: flex;
}
@keyframes slide{
  0%{
    opacity:0;transform:scale(1.3);
  }
  100%{
    opacity:1;transform: scale(1);
  }
}
.container{
  max-width: 1170px;
  margin:auto;
  
  
}
.home .container{
   flex-grow: 1;
}
.home .caption h1{
  font-size: 40px;
  color:white;
  margin-left: -50px;
  margin-top: -120px;
  
  
}
.home .caption p{
  font-size: 20px;
  color:white;
  margin-left: -50px;
  
  
}
.home .caption a{
  display: inline-block;
  padding: 6px 60px;
  background-color:white;
  border-radius: 13px;
  text-decoration: none;
  color:rgb(255, 255, 255);
  margin-left: -50px;
  margin-top: 12px;
  
  
}
.home .caption-2 h1{
  font-size: 40px;
  color:black;
  margin-left: -50px;
  margin-top: -120px;
 
  
}
.home .caption-2 p{
  font-size: 20px;
  color:black;
  margin-left: -50px;
  
  
}
.home .caption-2 a{
  display: inline-block;
  padding: 6px 60px;
  background-color:black;
  border-radius: 13px;
  text-decoration: none;
  color: #000000;
  margin-left: -50px;
  margin-top: 12px;
  
  
}

.home .slide.active .caption h1{
  opacity: 0;
  animation: captionText 1s ease forwards;
  animation-delay: 0.9s;
  }

.home .slide.active .caption p{
  opacity: 0;
  animation: captionText .5s ease forwards;
  animation-delay: 1.4s;
  }

.home .slide.active .caption a{
  opacity: 0;
  animation: captionText .5s ease forwards;
  animation-delay: 1.8s;
  }

@keyframes captionText{
  0%{
    opacity: 0;transform:translateX(-100px);
  }
  100%{
    opacity: 1;transform:translateX(0px);
  }
}
.home .controls .prev,
.home .controls .next{
position: absolute;
z-index: 2;
top:45%;
height: 40px;
width: 40px;
margin-top: -30px;
color: #ffffff;
background-color:black;
text-align: center;
font-size: 27px;
cursor: pointer;
transition: all 1.5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
  background-color: red;
}
.home .controls .prev{
  left: 0;
}

.home .controls .next{
  right: 0;
}
.home .indicator{
  position: absolute;
  left: 45%;
  top: 86%;
  z-index: 2;

}
.home .indicator div{
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  margin: 0 6px;
  cursor: pointer;
}
.home .indicator div.active{
  background-color: red;

}

.home .slide.active .caption-2 a{
  opacity: 0;
  animation: captionText .5s ease forwards;
  animation-delay: 1.8s;
  }
.home .slide.active .caption-2 p{
  opacity: 0;
  animation: captionText .5s ease forwards;
  animation-delay: 1.4s;
  }
.home .slide.active .caption-2 h1{
  opacity: 0;
  animation: captionText .5s ease forwards;
  animation-delay: 1s;
  }
